<%- include('partials/header') -%>
    <header class="d-flex justify-content-center">
        <h1>Forums</h1>
    </header>
    <main class="d-flex align-items-center flex-column">
        <button type="button" class="btn btn-primary mb-3" id="btn-new-forum">New Forum</button>
        <!--columna-->
        <div class="container text-center">

            <div class="row" id="container-row">

                <% tasks.forEach(task=> { %>

                    <article class="col-4 d-flex justify-content-center mb-3" data-id="<%= task.id %>">
                        <div class="card" style="width: 18rem;">
                            <img src="<%= task.poster %>" class="card-img-top" alt="nueva foto">
                            <div class="card-body">
                                <h5 class="card-title titulo">Titulo:
                                    <%= task.title %></h5>
                                <p class="card-text descrip">Descripción:
                                    <%= task.description %>
                                </p>
                                <p class="card-text fechaa">Fecha:
                                    <%= new Date(task.createdAt).toLocaleDateString() %>
                                </p>
                                <a href="#" class="btn btn-primary" id="btn-edif">Edif</a>
                                <a href="#" class="btn btn-danger" id="btn-delete">Delete</a>
                            </div>
                        </div>
                    </article>
                    <% }) %> 
            </div>
        </div>

        <!--model-->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Forum</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formulario">
                            <div class="mb-3">
                                <label class="col-form-label">title:</label>
                                <input type="text" class="form-control" id="inputTitle">
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">desciption:</label>
                                <input type="text" class="form-control" id="inputDescription">
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">poster:</label>
                                <input type="text" class="form-control" id="inputPoster">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="btn-save">Send</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') -%>